<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
<main class="bg-secondary-subtle w-100 d-flex flex-column justify-content-start align-items-start p-3">
    <%- include("../partials/navbar") %>


    <div class="card rounded-3 w-100 p-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" class="text-danger text-center">ID</th>
                    <th scope="col" class="text-danger text-center">Tipo</th>
                    <th scope="col" class="text-danger text-center">Valor</th>
                    <th scope="col" class="text-danger text-center">Descrição</th>
                    <th scope="col" class="text-danger text-center">Placa</th>
                    <th scope="col" class="text-danger text-center">Modelo</th>
                    <th scope="col" class="text-danger text-center">Responsável</th>
                    <th scope="col" class="text-danger text-center">Data da Movimentação</th>
                </tr>
            </thead>
            <tbody>
                <% trans.forEach((transaction) => { %>   
                    <tr>
                        <td class="text-center"><%= transaction.id %></td>
                        <td class="text-center">
                            <% if (transaction.typeOfTrans == 'Entrada') { %>
                                <i class="fa-solid fa-arrow-right text-success"></i> 
                                <p class="text-success"><%= transaction.typeOfTrans %></p>
                            <% } else if (transaction.typeOfTrans == 'saida') { %>
                                <i class="fa-solid fa-arrow-left text-danger"></i>  
                                <p class="text-danger"><%= transaction.typeOfTrans %></p>
                            <% } else if (transaction.typeOfTrans == 'modificacao') { %>   
                                <i class="fa-solid fa-pen-to-square text-secondary"></i>  
                                <p class="text-secondary"><%= transaction.typeOfTrans %></p> 
                            <% } %>
                        </td>
            
                        <td class="text-center">
                            <%= transaction.Car.purchasePrice.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) %>
                        </td>                        
                        <td class="text-center"><%= transaction.description %></td>
                        <td class="text-center"><%= transaction.Car.plate %></td> <!-- Certifique-se de que 'Car' está correto -->
                        <td class="text-center"><%= transaction.Car.model %></td>
                        <td class="text-center"><%= transaction.responsible %></td>                       
                        <td class="text-center">
                            <%= new Date(transaction.updatedAt).toLocaleString('pt-BR', { weekday: 'long', day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit' }) %>
                        </td>                  
                    </tr>
                <% }) %>
            </tbody>
            
        </table>
    </div>
</main>



<%- include("../partials/footer") %>
