<%- include("../partials/header") %>
<%- include("../partials/sidebar") %>
<main class="bg-secondary-subtle w-100 d-flex flex-column justify-content-start align-items-start p-3">

    <%- include("../partials/navbar") %>

    
    <!-- Modal de Confirmação -->
    <div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmar Exclusão</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Você tem certeza de que deseja excluir este veículo? Esta ação não pode ser desfeita.
                </div>
                <div class="modal-footer">
                    <!-- Botão de Cancelar com data-bs-dismiss para fechar o modal -->
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" id="delBtn">Excluir</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card rounded-3 w-100 p-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" class="text-danger text-center">ID</th>
                    <th scope="col" class="text-danger text-center">Status</th>
                    <th scope="col" class="text-danger text-center">Modelo</th>
                    <th scope="col" class="text-danger text-center">Marca</th>
                    <th scope="col" class="text-danger text-center">Categoria</th>
                    <th scope="col" class="text-danger text-center">Ano</th>
                    <th scope="col" class="text-danger text-center">Placa</th>
                    <th scope="col" class="text-danger text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                <% carList.forEach(car => { %>
                    <tr>
                        <td class="text-center"><%= car.id %></td>
                        <% if(car.status === "ativo"){ %>
                            <td class="text-center"><i class="fa-solid fa-circle text-success"></i></td>
                        <% } else { %>
                            <td class="text-center"><i class="fa-solid fa-circle text-danger"></i></td>
                        <% } %>            
                        <td class="text-center"><%= car.model %></td>
                        <td class="text-center"><%= car.Brand.name %></td> <!-- Exibindo a marca do carro -->
                        <td class="text-center"><%= car.category %></td>
                        <td class="text-center"><%= car.year %></td>
                        <td class="text-center"><%= car.plate %></td>
                        <td class="text-center">
                            <button class="btn" onclick="openDeleteModal(<%= car.id %>)"> <i class="fa-solid fa-trash text-danger"></i></button>
                        </td>
                        <td>
                            <form action="/cars/edit/<%= car.id %>" method="POST">
                                <button class="btn" id="editBtn" type="submit">  <i class="fa-regular fa-pen-to-square"></i></button> 
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</main>

<script>
    let carIdToDelete = null;  // Armazena o ID do carro a ser excluído

    // Função chamada ao clicar no botão de deletar
    function openDeleteModal(carId) {
        carIdToDelete = carId;  // Armazenar o ID do carro a ser deletado
        const modalDel = new bootstrap.Modal(document.getElementById('modalDelete'));
        modalDel.show();  // Exibir o modal
    }

    // Função para excluir o carro e fechar o modal
    document.getElementById("delBtn").addEventListener('click', async function() {
        if (carIdToDelete) {
            try {
                // Requisição axios para deletar o carro
                const response = await axios.delete(`/car-delete/${carIdToDelete}`);
                if (response.data.success) {
                    location.reload();  
                } else {
                    alert("Erro ao excluir o veículo.");
                }
            } catch (error) {
                console.error('Erro ao tentar deletar o veículo:', error);
                alert("Ocorreu um erro ao tentar excluir o veículo.");
            }
        }
    });


</script>


<%- include("../partials/footer") %>
